@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import '~antd/dist/antd.css';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}
body::-webkit-scrollbar-track{
    background:#1e1e24;
}

